<div class="d-flex mb-3 px-3">
  <div class="col-10">
    <h1><%= HumanResource.model_name.human %></h1>
  </div>
  <div class="col-2 text-center">
    <%= link_to t("links.new"), new_human_resource_path, class: "btn btn-success text-center m-2" %>
  </div>
</div>

<table class="table table-hover border">
  <thead class="table-secondary">
    <tr>
      <th><%= @human_resources.human_attribute_name(:description) %></th>
      <th><%= @human_resources.human_attribute_name(:cpf) %></th>
      <th><%= @human_resources.human_attribute_name(:company) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @human_resources.each do |human_resource| %>
      <tr>
        <td><%= human_resource.description %></td>
        <td><%= human_resource.cpf %></td>
        <td><%= human_resource.company.description %></td>
        <td><%= link_to t("links.show"), human_resource, class: "btn btn-sm btn-secondary" %></td>
        <td><%= link_to t("links.edit"), edit_human_resource_path(human_resource), class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to t("links.destroy"), human_resource, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: t("messages.confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


