<div class="row mb-3">
  <div class="col-9">
    <h1 class='display-5'>Recursos Humanos</h1>
  </div>
  <div class="col-3 mt-4 text-center">
    <%= link_to t("links.new"), new_human_resource_path, class: "btn btn-success text-center m-2" %>
    <%= link_to "Exportar CSV", export_csv_human_resources_path, class: "btn btn-light border shadow-sm text-center m-2" %>
  </div>
</div>

<% if @human_resources.any? %>
  <table class="table table-striped table-hover border">
    <thead>
      <tr>
        <th><%= @human_resources.human_attribute_name(:name) %></th>
        <th><%= @human_resources.human_attribute_name(:cpf) %></th>
        <th><%= @human_resources.human_attribute_name(:email) %></th>
        <th><%= @human_resources.human_attribute_name(:phone_number) %></th>
        <th><%= @human_resources.human_attribute_name(:company) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @human_resources.each do |human_resource| %>
        <tr>
          <td><%= human_resource.name %></td>
          <td><%= human_resource.cpf %></td>
          <td><%= human_resource.email %></td>
          <td><%= human_resource.phone_number %></td>
          <td><%= human_resource.company.name %></td>
          <td><%= link_to t("links.show"), human_resource, class: "link-secondary" %></td>
          <td><%= link_to t("links.edit"), edit_human_resource_path(human_resource), class: "link-secondary" %></td>
          <td><%= link_to t("links.destroy"), human_resource, method: :delete, class: "link-secondary", data: { confirm: t("messages.confirm") } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> Nenhum RH foi cadastrado ainda. <p>
<% end %>


