<%= link_to link_to image_tag("back.png", size: "15"), human_resources_path, class: "btn btn btn-secondary opacity-50 btn-sm mb-3" %>

<p>
  <strong>Nome:</strong>
  <%= @human_resource.name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @human_resource.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @human_resource.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @human_resource.phone_number %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @human_resource.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @human_resource.age %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @human_resource.schooling_level %>
</p>


<br>
<div class=" mb-3">
  <%= link_to t("links.edit"), edit_human_resource_path(@human_resource), class: "btn btn-primary text-end" %>
</div>




