<div class="text-center mb-5">
  <h2>Alterar senha</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <div class="mb-3 text-center">
    <%= f.label :password, "Nova senha" %><br />
    <% if @minimum_password_length %>
      <em>(mínimo de <%= @minimum_password_length %> caracteres)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="mb-5 text-center">
    <%= f.label :password_confirmation, "Senha (confirmação)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="mb-3 text-center">
    <%= f.submit "Alterar senha", class: "btn btn-outline-secondary" %>
  </div>
<% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
