<%= form_with(model: project) do |form| %>
  <div class="mb-3 col-md-8 col-sm-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control", placeholder: "Project Name" %>
  </div>

  <div class="mb-3 col-md-3 col-sm-5">
    <%= form.label :value %>
    <%= form.text_field :value, class: "form-control", placeholder: "000.00" %>
  </div>

  <div class="mb-5 col-md-3 col-sm-5">
    <%= form.label :company %>
    <%= form.select("company_id", @company_options, { include_blank: nil }, class: "form-select") %>
  </div>

  <div class="mb-3">
    <%= form.submit nil, class: "btn btn-success", data: { disable_with: "Salvando..." } %>
  </div>
<% end %>
