<div class="row mb-3">
  <div class="col-9">
    <h1 class='display-5'>Projetos</h1>
  </div>
  <div class="col-3 mt-4 text-center">
    <%= link_to t("links.new"), new_project_path, class: "btn btn-success text-center m-2" %>
    <%= link_to "Exportar CSV", export_csv_projects_path, class: "btn btn-light border shadow-sm text-center m-2" %>
  </div>
</div>

<% if @projects.any? %>
  <table class="table table-striped table-hover border">
    <thead>
      <tr>
        <th><%= @projects.human_attribute_name(:name) %></th>
        <th><%= @projects.human_attribute_name(:value) %></th>
        <th><%= @projects.human_attribute_name(:company) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.value %></td>
          <td><%= project.company.name %></td>
          <td><%= link_to t("links.show"), project, class: "link-secondary" %></td>
          <td><%= link_to t("links.edit"), edit_project_path(project), class: "link-secondary" %></td>
          <td><%= link_to t("links.destroy"), project, method: :delete, class: "link-secondary", data: { confirm: t("messages.confirm") } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> Nenhum projeto foi cadastrado ainda. <p>
<% end %>


