<%= link_to image_tag("back.png", size: "15"), projects_path, class: "btn btn btn-secondary opacity-50 btn-sm mb-3" %>

<p>
  <strong>Nome:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @project.value %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @project.company.description %>
</p>

<p>
  <strong>Data de criação:</strong>
  <%= l @project.created_at, format: :long %>
</p>

<br>
<div class=" mb-3">
  <%= link_to t("links.edit"), edit_project_path(@project), class: "btn btn-primary" %>
</div>

